body {
    font-family: 'Titillium Web', sans-serif;
   background-color: rgba(209, 209, 209, 0.548);
}

/* tamaño del logo del navbar se dimenciono */
.nav-img {
    width: 27px;
}

a:link {
    text-decoration: none;
}

.wght300 {
    font-weight: 300;
}

.imgcard2 {
    height: 181.344px;
}

.card-title {
    font-weight: 700;
}

.p-footer {
    font-weight: 400;
    font-size: 20px;
}

.centrado-footer {
    padding-right: 250px;
    padding-left: 300px;
    display: inline;
}

/* barra nav aparece al hacer scroll */
.navbar-color {
    background-color: rgb(83, 83, 83);
    transition: all 1s ease;
}
  
/* colores principales de la pagina */
.bg-plomo {
    background-color: rgba(68, 23, 23, 0.24);
}


.color-list-group {
    background-color: rgb(136, 187, 202);
}