body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #000;
}

.nav-img {
    width: 27px;
}

a:link {
    text-decoration: none;
}

.wght300 {
    font-weight: 300;
}

.imgcard2 {
    height: 181.344px;
}

.card-title {
    font-weight: 700;
}